.clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

span {
    display: inline-block;
}

#user_level_td {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.badge_img span {
    display: none;
    position: absolute;
    border: 1px solid #222;
    bottom: -20px;
    width: 300px;
    font-size: 14px;
    background-color: white;
    left: 40px;
    z-index: 999;
}

.clearfix {
    zoom: 1;
}

.disableRoomIds {
    min-height: 84px !important;
    min-width: 200px !important;
    color: #5a98de;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.disableRoomIds:nth-last-child() {
    border-top: 1px solid #ddd;
}

.disableRoomIds a {
    padding: 0 5px;
}

.tabBar {
    border-bottom: 1px solid #222;
}

.tabBar span {
    background-color: #e8e8e8;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.tabBar span.current {
    background-color: #5a98de;
    color: #fff;
}

.tabCon {
    display: none;
    margin: 20px;
}

#userHeaderPic {
    height: 100px;
    width: auto;
    position: absolute;
}

#toggleClass_device {
    cursor: pointer;
    color: #5a98de;
}