.conditions {
    margin-right: 2px;
}

#balanceSearchType {
    margin-right: 10px;
}

.tabBar span.current {
    background-color: #5a98de;
    color: #fff;
}

.tabBar {
    border-bottom: 1px solid #222;
}