<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="../../../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" href="../../../lib/layer/2.4/css/modules/layer/default/layer.css">
    <link rel="stylesheet" href="../../../lib/layer/2.4/skin/layui.css">
    <!-- <link rel="stylesheet" href="../../../lib/layer/2.4/css/modules/code.css">  -->
    <link rel="stylesheet" href="../../../lib/bootstrap-3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../lib/bootstrap3-editable/css/bootstrap-editable.css">
    <!-- <link rel="stylesheet" href="../../../lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css"> -->
    <link rel="stylesheet" type="text/css" href="../../../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../../../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../../../static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="../../css/page.css">
    <link rel="stylesheet" href="../../css/frontPages.css">
    <link rel="stylesheet" href="../../css/Customer/chatDetails.css">
    <title></title>
    <style>
        .table a {
            color: #428bca;
        }

        .holder {
            display: flex;
            justify-content: flex-end;
            padding-right: 50px;
        }

        .input_edit {
            width: 200px;
        }

        .font_chat {
            margin: 0 5px 0 20px;
        }
    </style>
</head>

<body>
    <div style="padding: 20px;display: flex;">
        <table class="tables" style="width:auto;">
            <tr class="">
                <td>查询方式</td>
                <td>
                    <span class="select-box" style="width:auto;">
                        <select id="changeSearchType" class="select" size="1" name="demo1">
                            <option value="0" selected>全部</option>
                            <option value="1">房间编号</option>
                        </select>
                    </span>
                </td>
                <td class="hide">
                    <input style="width:auto" name="ChatDetailsSearch" type="text" placeholder="请输入roomId" class="input-text radius size-M">
                </td>
                <td>是否推荐</td>
                <td>
                    <span class="select-box" style="width:auto;">
                        <select id="room_groom" class="select" size="1" name="demo1">
                            <option value="0" selected>全部</option>
                            <option value="1">未推荐</option>
                            <option value="2">已推荐</option>
                        </select>
                    </span>
                </td>
                <td>显示状态</td>
                <td>
                    <span class="select-box" style="width:auto;">
                        <select id="room_state" class="select" size="1" name="demo1">
                            <option value="0" selected>全部</option>
                            <option value="1">启用</option>
                            <option value="2">禁用</option>
                        </select>
                    </span>
                </td>
                <td>
                    <button type="submit" class="btn btn-success" id="userDetailsSearch">
                        <i class="Hui-iconfont"></i> 查询
                    </button>
                    <button data-btn="_chat_add_room" id="addChatRoomBtn" class="layui-btn layui-btn-sm hide">
                        <i class="layui-icon">&#xe608;</i> 新建
                    </button>
                </td>
            </tr>
        </table>


    </div>
    <!--  -->
    <div style="padding:20px;" id="chatDetails">

    </div>
    <div style="padding: 0 100px 20px 0;" class="holder hide">
        <a class="jp-first jp-disabled"></a>
        <a class="jp-previous jp-disabled"></a>
        <a class="jp-current">1</a>
        <a>2</a>
        <a>3</a>
        <a>4</a>
        <a>5</a>
        <a class="jp-hidden">6</a>
        <a class="jp-hidden">7</a>
        <a class="jp-hidden">8</a>
        <a class="jp-hidden">9</a>
        <span>...</span>
        <a>10</a>
        <a class="jp-next"></a>
        <a class="jp-last jp-disabled"></a>
    </div>
    <script type="text/javascript" src="../../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../../lib/bootstrap-3/js/bootstrap.min.js"></script>
    <script src="../../../lib/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="../../../lib/bootstrap3-editable/js/moment.js"></script>
    <!-- <script src="../../../lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script> -->
    <script type="text/javascript" src="../../../lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="../../../lib/layer/2.4/layui.all.js"></script>
    <script type="text/javascript" src="../../../static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="../../../static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="../../../lib/laypage/1.2/laypage.js"></script>
    <!-- 常用公共JS-->
    <script type="text/javascript" src="../../js/common.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/util.js"></script>
    <script type="text/javascript" src="../../js/frontPages.js"></script>

    <script type="text/javascript" src="../../js/upload.js" charset="utf-8"></script>
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="../../js/Customer/chatDetails.js"></script>
</body>

</html>