<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="../../../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" href="../../../lib/layer/2.4/css/modules/layer/default/layer.css">
    <link rel="stylesheet" href="../../../lib/layer/2.4/skin/layui.css">
    <!-- <link rel="stylesheet" href="../../../lib/layer/2.4/css/modules/code.css">  -->
    <link rel="stylesheet" href="../../../lib/bootstrap-3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../lib/bootstrap3-editable/css/bootstrap-editable.css">
    <!-- <link rel="stylesheet" href="../../../lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css"> -->
    <link rel="stylesheet" type="text/css" href="../../../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../../../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../../../static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="../../css/page.css">
    <link rel="stylesheet" href="../../css/Customer/roomList.css">
    <link rel="stylesheet" href="../../css/frontPages.css">
    <title>房间详情</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe62e;</i> 直播间管理
        <span class="c-gray en">&gt;</span> 房间列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
    </nav>
    <div class="page-container">
        <!-- 查询条件 -->
        <div class="text">
            <span class="conditions">查询方式</span>
            <select style="height:30px;box-sizing: border-box;border: solid 1px #ddd; font-size:14px;" name="room-search" lay-verify="" id="changeSearchType">
                <option value="0" selected>全部</option>
                <option value="2" >房间编号</option>
                <option value="3" >置顶列表</option>
            </select>
            <input type="text" class="input-text hide" style="width:150px;" id="changeSearchId" name="roomSearchMessage" disabled>
            <span class="conditions show_state">显示状态</span>
            <select style="height:30px;box-sizing: border-box;border: solid 1px #ddd; font-size:14px;" name="show-search" lay-verify="" id="changeSearchShow">
                <option value="0">全部</option>
                <option value="1">显示</option>
                <option value="3">隐藏</option>
            </select>
            <span class="conditions room_type">房间类型</span>
            <select style="height:30px;box-sizing: border-box;border: solid 1px #ddd; font-size:14px;" name="roomType-search" lay-verify="" id="changeSearchRoomtype">
                <option value="0">全部</option>
                <option value="1">PGC</option>
                <option value="2">UGC</option>
            </select>
            <button type="submit" class="btn btn-success" id="roomSearchSubmit" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
            <!-- <button type="submit" class="btn btn-success" id="stopStatistics" name=""><i class="Hui-iconfont">&#xe618;</i> 主播停止统计</button> -->
        </div>
        <!-- 操心按钮 -->
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <table class="table table-border table-bordered table-bg  table-hover">
                <thead>
                    <tr>
                        <th scope="col" colspan="12">房间信息</th>
                    </tr>
                    <tr class="text-c">
                        <th class="f-14">海报</th>
                        <th class="f-14">用户ID</th>
                        <th class="f-14">昵称</th>
                        <th class="f-14">在线用户</th>
                        <th class="f-14">上次直播时间</th>
                        <th class="f-14">房间类型</th>
                        <th class="f-14">是否声音主播</th>
                        <!-- <th class="f-14">是否推荐</th> -->
                        <th class="f-14">排序编号</th>
                        <th class="f-14">状态</th>
                        <th class="f-14">操作</th>
                    </tr>
                </thead>
                <tbody id="roomList">
                </tbody>
            </table>
            <div id="room_layerPage"></div>
            <!-- 获取用户 -->
            <div id="guestUserDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content radius">
                        <div class="modal-header">
                            <h3 class="modal-title">用户列表</h3>
                            <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                        </div>
                        <div class="modal-body">
                            <table class="table table-border table-bordered table-bg  table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="12">用户列表</th>
                                    </tr>
                                    <tr class="text-c">
                                        <th class="f-14">用户ID</th>
                                        <th class="f-14">昵称</th>
                                        <th class="f-14">类型</th>
                                        <th class="f-14">禁言(秒)</th>
                                        <th class="f-14">进入时间</th>
                                        <th class="f-14">操作</th>
                                    </tr>
                                </thead>
                                <tbody id="roomUserList">
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <!-- <button class="btn btn-primary edit-User" id="submitNewtab">确定</button> -->
                            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 播放记录 -->
            <div id="playRecordingDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content radius">
                        <div class="modal-header">
                            <h3 class="modal-title">主播播放信息</h3>
                            <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                        </div>
                        <div class="modal-body">
                            <div class="chooseTime" style="margin-bottom:10px">
                                开始时间：<input style="width:auto" id="playRecordingStart" name="playRecordingLogmin" type="text" class="input-text radius size-M"> 结束时间：
                                <input style="width:auto" id="playRecordingEnd" name="playRecordingLogmax" type="text" class="input-text radius size-M">
                                <button type="submit" class="btn btn-success" id="playRecordingSearchSubmit" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
                            </div>
                            <table class="table table-border table-bordered table-bg  table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="12">播放记录</th>
                                    </tr>
                                    <tr class="text-c">
                                        <th class="f-14">开始时间</th>
                                        <th class="f-14">结束时间</th>
                                        <th class="f-14">直播时长 (M)</th>
                                        <th class="f-14">扣除星数</th>
                                    </tr>
                                </thead>
                                <tbody id="playRecordingList">
                                </tbody>
                            </table>
                            <div class="holder">
                                <a class="jp-first jp-disabled">←←</a>
                                <a class="jp-previous jp-disabled">← previous</a>
                                <a class="jp-current">1</a>
                                <a>2</a>
                                <a>3</a>
                                <a>4</a>
                                <a>5</a>
                                <a class="jp-hidden">6</a>
                                <a class="jp-hidden">7</a>
                                <a class="jp-hidden">8</a>
                                <a class="jp-hidden">9</a>
                                <span>...</span>
                                <a>10</a>
                                <a class="jp-next">next →</a>
                                <a class="jp-last jp-disabled">←←</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 停播记录 -->
        <div id="stopPlayRecordingDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content radius">
                    <div class="modal-header">
                        <h3 class="modal-title">停播信息</h3>
                        <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                    </div>
                    <div class="modal-body">
                        <table class="table table-border table-bordered table-bg  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="12">停播记录</th>
                                </tr>
                                <tr class="text-c">
                                    <th class="f-14">操作时间</th>
                                    <th class="f-14">停止原因</th>
                                    <th class="f-14">犯规原因组</th>
                                    <th class="f-14">扣除星数</th>
                                    <th class="f-14">操作人</th>
                                </tr>
                            </thead>
                            <tbody id="stopPlayRecordingList">
                            </tbody>
                        </table>
                        <div class="holder">
                            <a class="jp-first jp-disabled">←←</a>
                            <a class="jp-previous jp-disabled">← previous</a>
                            <a class="jp-current">1</a>
                            <a>2</a>
                            <a>3</a>
                            <a>4</a>
                            <a>5</a>
                            <a class="jp-hidden">6</a>
                            <a class="jp-hidden">7</a>
                            <a class="jp-hidden">8</a>
                            <a class="jp-hidden">9</a>
                            <span>...</span>
                            <a>10</a>
                            <a class="jp-next">next →</a>
                            <a class="jp-last jp-disabled">←←</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button class="btn btn-primary edit-User" id="submitNewtab">确定</button> -->
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- stop -->
        <div id="stopDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content radius">
                    <div class="modal-header stop-header">
                        <span class="stop-title">Stop Host Live</span>
                        <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();" class="closeStop">×</a>
                    </div>
                    <div class="modal-body stop-body">
                        <!-- 选择语言 -->
                        <div class="chooseLanguage" style="height:20px">
                            <div class="radio-box chooseLabel">
                                <input type="radio" id="radio-1" name="demo-radio" value="1">
                                <label for="radio-1">Ar</label>
                                <input type="radio" id="radio-2" name="demo-radio" value="2">
                                <label for="radio-2">Tr</label>
                                <input type="radio" id="radio-3" name="demo-radio" value="3">
                                <label for="radio-3">En</label>
                            </div>

                        </div>
                        <table class="table table-border table-bordered  stopTable">
                            <tbody>
                                <!-- 停播原因 -->
                                <tr height="100px">
                                    <td width="30%">
                                        <button type="submit" name="button" class="btn  btn-sm" id="yhButton">A.suggestions</button>
                                        <button type="submit" name="button" class="btn  btn-sm" id="jgButton">B.violation rules</button>
                                    </td>
                                    <td width="70%" rowspan="2">
                                        <div class="widget widget-table" style="overflow:hidden;width:710px;height:300px;overflow-y:scroll">
                                            <div class="widget-content">
                                                <div class="zhongdong">
                                                    <!-- 按钮A列表 -->
                                                    <div class="suggestions">
                                                        <div class="language1 lang">
                                                            <table class="table">
                                                                <tbody id="ArsuAr_list" class="clickChange lang_ar">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="language3 lang">
                                                            <table class="table">
                                                                <tbody id="ArsuEn_list" class="clickChange  lang_en">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!-- 按钮b列表 -->
                                                    <div class="violation">
                                                        <div class="language1 lang">
                                                            <table class="table">
                                                                <tbody id="ArviAr_list" class="clickChange">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="language3 lang">
                                                            <table class="table">
                                                                <tbody id="ArviEn_list" class="clickChange">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tuerqi">
                                                    <!-- 按钮A列表 -->
                                                    <div class="suggestions">
                                                        <div class="language2 lang">
                                                            <table class="table">
                                                                <tbody id="TrsuTr_list" class="clickChange">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="language3 lang">
                                                            <table class="table">
                                                                <tbody id="TrsuEn_list" class="clickChange">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!-- 按钮b列表 -->
                                                    <div class="violation">
                                                        <div class="language2 lang">
                                                            <table class="table">
                                                                <tbody id="TrviTr_list" class="clickChange">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="language3 lang">
                                                            <table class="table">
                                                                <tbody id="TrviEn_list" class="clickChange">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- 停播统计 -->
                                <tr height="160px">
                                    <td width="30%" rowspan="2">
                                        <div class="stopDetail" style="overflow:hidden;width:283px;height:229px;overflow-y:scroll">
                                            <table class="table table-border table-bordered table-bg  table-hover stopDetails">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" colspan="2">Details</th>
                                                    </tr>
                                                    <tr class="text-c">
                                                        <th class="f-14">Reason group</th>
                                                        <th class="f-14">Total number</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="stopDetailsList">
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <!-- 备注 -->
                                    <tr height="40px">
                                        <td width="70%" class="notes" style="padding:8px">
                                            Notes：<input style="width:600px;margin-left:10px;" id="noteDetails" name="" type="text" class="input-text radius size-M">
                                        </td>
                                    </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="modal-footer stop-footer">
                        <button class="btn btn-primary edit-User" id="submitStopDetail">确定</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true" class="closeStop">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../../lib/bootstrap-3/js/bootstrap.min.js"></script>
    <script src="../../../lib/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="../../../lib/bootstrap3-editable/js/moment.js"></script>
    <script type="text/javascript" src="../../../lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="../../../lib/layer/2.4/layui.all.js"></script>
    <script type="text/javascript" src="../../../static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="../../../static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="../../../lib/laypage/1.2/laypage.js"></script>
    <!-- 常用公共JS-->
    <script type="text/javascript" src="../../js/common.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/util.js"></script>
    <script type="text/javascript" src="../../js/upload.js" charset="utf-8"></script>
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="../../js/Customer/roomList.js"></script>
    <script type="text/javascript" src="../../js/Customer/room_stop_live_ar_util.js"></script>
    <script type="text/javascript" src="../../js/Customer/room_stop_live_util.js"></script>
    <script type="text/javascript" src="../../js/frontPages.js"></script>



</body>

</html>