table,table tr th, table tr td { border:1px solid #0094ff; }
#functionTable{
    border-collapse: collapse;
    border: none;
    /* overflow: hidden; */
}
tr td { border:1px solid #0094ff; }
.mainsPrt{
    padding-left: 30px;
}
#functionTable td{
    border: 1px solid #000;
}
.mains, .mains .miandd{


}
#functionTable td div{

    border-bottom: 1px solid #000;
}

.mainsPrt{
    display: flex;
    flex-direction: column;
}
.mains{
  
    overflow: hidden;
    border-bottom: none;
    border-right:none; 
}
.mains .miandd {
    height: 100%;
    float: left;
 
    width: 200px;
    border-left: none;
}
.mains .miandd div{
    height: 39px;
    line-height: 39px;
    text-align: center;
    
} 
.functionMune{
    
    overflow: hidden;
    border: 1px solid #000;
    border-bottom: none;
}
.functionMune div {
    padding-left: 1px;
    border-left:1px solid #000; 
    float: left;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;

    border-bottom: none;
}
.functionMune div:nth-child(1){
    border: none;
}
.functionMune div:nth-child(4){
    border-right:1px solid #000 ;
}
.mains .miandd:nth-child(1) div:nth-child(1){
    border: none;
    display: flex;
    line-height: 200px;
    height: 150px;
    flex-direction: column;
    justify-content: center;

}